<!doctype html>
<html xmlns:th="http://thymeleaf.org/"  xmlns:sec="http://thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="header">
        <header>
            <a th:href="@{/}" id="name">DeliverE</a>
            <ul class="nav" id="nav">
<!--                <li><a th:href="@{/home}" th:text="#{nav_bar_home}">Home</a></li>-->
                <li><a th:href="@{/search}" th:text="#{nav_bar_search}">Search</a></li>
            </ul>
            <ul class="nav" id="nav-not-logged" sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/login}" th:text="#{login}">Login</a></li>
                <li><a th:href="@{/register}" th:text="#{register}">Register</a></li>
            </ul>
            <ul class="nav" id="nav-logged" sec:authorize="isAuthenticated()">
                <li><a
                        th:href="@{/users/{id}(id=${#authentication.getPrincipal().getUsername()})}"
                        th:text="#{account}">Account</a></li>
                <li>
                    <form id="locale-form" th:action="@{/logout}" th:method="post"><button type="submit" th:text="#{logout}">Logout</button></form></li>
            </ul>
            <ul class="nav" id="nav-locale">
                <li>
                    <form th:method="GET">
                        <label for="lang" th:text="#{language}">Language</label>
                        <select name="lang" id="lang" onchange="this.form.submit()">
                            <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                        </select>
                    </form>
                </li>
            </ul>
        </header>
    </div>

    <div th:fragment="footer">
        <footer th:text="#{footer}">This is not a real website. This is a finals project for SoftUni.</footer>
    </div>
</body>
</html>