@import url("reset.css");
@import url("typography.css");
@import url("header-and-footer.css");

html {
    justify-items: center;
    margin: auto;
}

body {
    background-color: lightgreen;
    margin: 0 auto;
    max-width: min(80ch, 90vw);
    min-height: 95vh;
}

main {
    min-height: 85vh;
}

a {
    text-decoration: none;
}
