<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DeliverE</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div th:replace="~{fragments/general.html :: header}"></div>
    <main>
        <h2 id="hero-title" th:text="#{hero_title}">Fresh food, straight to you.</h2>
        <a id="cta" href="/register" th:text="#{sign_up}">
            Sign up
        </a>
    </main>
    <div th:replace="~{fragments/general.html :: footer}"></div>
</body>
</html>