<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/css/user-profile.css">
</head>
<body>
<div th:replace="~{fragments/general.html :: header}"></div>
<main>
    <div class="profile" th:object="${userData}">
        <p>Username: <span th:text="*{username}"></span></p>
        <p>Email: <span th:text="*{email}"></span></p>
        <p>Day of birth: <span th:text="*{birthday}"></span></p>
        <p>Owned chains: </p>
        <div th:each="ownedChain: ${userData.getOwnedChains()}">
            <!--        <p th:if="${ownedChain.getLocations().isEmpty()}">None</p>-->
            <p>Name: <a th:href="@{/chains/{id}(id=${ownedChain.getId()})}" th:text="${ownedChain.getName()}"></a></p>
        </div>
    </div>
</main>
<div th:replace="~{fragments/general.html :: footer}"></div>
</body>
</html>
